.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 10px 30px;
}

.shelf-section {
  height: 20%;
}

.card {
  width: 70%;
  height: 80%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: rgb(33 64 0 / 30%);

  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 85%;
  height: 70%;
  border-radius: 4px;
  /* margin-bottom: 8px; */
}

.card div {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
}



.dropdown {
  position: relative;
  display: inline-block;
  margin-left: -30px;
  margin-bottom: 10px;

}

.dropdown-select {
  appearance: none;
  background-color: #2db82d;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
}

.dropdown-select:focus {
  outline: none;
}

.dropdown-select::after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
}

.icon {
  font-size: 4px;
}

.result {

  margin-top: 10x;
  font-size: 21px;
  text-align: left;
  font-weight: 300;
  margin-bottom: -10px;
  color: #4c1e4f;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bor {
  border: 1px solid #57295b;
  margin-top: 10px;
  margin-bottom: 30px;
}

.auth {
  color: #d93b3b;
  font-weight: 400;
  font-size: 10px;
}


.circular-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #34C759;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.circular-button:hover {
  background-color: #34C759
}

.search-container {
  margin: 0 auto;
  width: 40%;
  height: 10%;
  display: flex;
  align-items: center;
  /* justify-items: center; */
  border: 2px solid #34C759;
  /* Green border */
  border-radius: 5px;
  /* padding: 5px; */
  background-color: #fff;
  /* White background */
}

.search-input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  /* White background */
}

.search-button {
  background-color: #34C759;
  /* Green background */
  color: #fff;
  /* White text */
  border: none;
  padding: 10px 15px;
  /* border-radius: 5px; */
  cursor: pointer;
  height: 100%;
}

.search-button i {
  font-size: 18px;
}

.back-button {
  background-color: #ebeaea;
  color: #969494;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-button i {
  font-size: 24px;
}

.no-book-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  /* color: #666; */
  color: #c78952;
}


.shelf-section {
  margin-bottom: 40px;
}

.section-header {
  width: 200px;
  /* text-align: center; */
  margin: 0 auto;
  color: #8d5543;
}

.section-header h2 {
  margin-top: 0;
  text-align: center;
  /* color: ; */
  /* align-items: center; */
}

.suggestions-dropdown {
  margin: 0 auto;
  /* position: absolute; */
  cursor: pointer;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  /* width: calc( */
  width: 40%;
  text-align: left;

}

.suggestion-item {
  cursor: pointer;
}

.suggestion-item:last-child {
  border-bottom: none;

}

.suggestion-item:hover {
  background-color: #f0f0f0;
  /* Highlight on hover */
}